<component name="ArtifactManager">
  <artifact type="war" name="springwebblank:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springWebBlank.war">
      <element id="artifact" artifact-name="springwebblank:war exploded" />
    </root>
  </artifact>
</component>